<!DOCTYPE html>
<html>
<head>
    <title>Voice Incident AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="header">
        <h1>🎤 Voice Incident AI</h1>
        <p>Structured Industrial Voice Reporting System</p>
    </div>

    <div class="main-grid">

        <div class="left-panel">
            <button id="recordBtn" type="button">Start Recording</button>
            <p id="status">Status: Idle</p>

            <div class="transcript-section">
                <h3>Transcript</h3>
                <div id="transcriptBox" class="box"></div>
            </div>
        </div>

        <div class="right-panel">
            <h3>Structured Report</h3>
            <div id="jsonBox" class="box"></div>
        </div>

    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>